.md-background--secondary {
    background:#ff6600;
}

.md-drawer--left {
    display: block;
    width:10.667%;
}

.md-list {
    background: #666666;
}

header.md-toolbar {
    width:10.667%;
}

.md-drawer-relative {
    margin-left:0;
}